@using MvcCv.Models.Entity
@model List<Tbl_Egitimlerim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Eğitim Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Alt Başlık 1</th>
        <th>Alt Başlık 2</th>
        <th>Tarih</th>
        <th>GNO</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>@item.ID</td>
            <td>@item.Baslik</td>
            <td>@item.AltBaslik1</td>
            <td>@item.AltBaslik2</td>
            <td>@item.Tarih</td>
            <td>@item.GNO</td>
            <td><a href="/Egitim/EgitimSil/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Egitim/EgitimGetir/@item.ID" class="btn btn-success">Düzenle</a></td>
        </tr>
    }
</table>
<a href="/Egitim/EgitimEkle" class="btn btn-primary">Yeni Eğitim Ekle</a>

