@using MvcCv.Models.Entity
@model List<Tbl_Yeteneklerim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{ string renk = ""; }
@{ string labelrenk = ""; }
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Yetenek Listem</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <a href="/Yetenek/YeniYetenek" class="btn btn-primary">Yetenek Ekle</a>
                                <br />
                                <br />
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Yetenek</th>
                                            <th>Derece</th>
                                            <th style="width: 40px">Oran</th>
                                            <th style="width: 300px">İşlemler</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.Oran >= 0 && item.Oran <= 50)
                                            {
                                                renk = "progress-bar bg-danger";
                                                labelrenk = "badge bg-danger";
                                            }
                                            if (item.Oran >= 51 && item.Oran <= 70)
                                            {
                                                renk = "progress-bar bg-warning";
                                                labelrenk = "badge bg-warning";
                                            }
                                            if (item.Oran >= 71 && item.Oran <= 84)
                                            {
                                                renk = "progress-bar bg-primary";
                                                labelrenk = "badge bg-primary";
                                            }
                                            if (item.Oran >= 85 && item.Oran <= 100)
                                            {
                                                renk = "progress-bar bg-success";
                                                labelrenk = "badge bg-success";
                                            }
                                            <tr>
                                                <td>@item.ID.</td>
                                                <td>@item.Yetenek</td>
                                                <td>
                                                    <div class="progress progress-xs">
                                                        <div class="@renk" style="width: @item.Oran%"></div>
                                                    </div>
                                                </td>
                                                <td><span class="@labelrenk">@item.Oran%</span></td>
                                                <td>
                                                    <a href="/Yetenek/YetenekSil/@item.ID" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                                    <a href="/Yetenek/YetenekGüncelle/@item.ID" class="btn btn-success"><i class="fas fa-pencil-alt"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</body>
</html>